<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="~{fragments/resources :: headTags}"></div>

    <link rel="stylesheet" th:href="@{/css/card.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/nav.css}" />

    <title>Games</title>
  </head>
  <body>
    <div class="my-5" th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container py-4 my-5">
      <!-- Search -->
      <div class="search-container">
        <form
          class="d-flex gap-2"
          th:action="@{/games/searchByTitle}"
          method="get"
        >
          <input
            type="text"
            name="title"
            class="form-control"
            placeholder="Cerca gioco nel catalogo..."
          />
          <button type="submit" class="btn btn-primary btn-lime">Cerca</button>
          <a
            sec:authorize="hasAuthority('ADMIN')"
            class="btn btn-primary btn-lime"
            th:href="@{games/create}"
            >Add</a
          >
        </form>
      </div>

      <!-- Category Filter -->
      <form
        class="category-filter my-5"
        th:action="@{/games/searchByCategory}"
        method="get"
      >
        <button type="submit" class="btn btn-primary mb-3 btn-lime">
          Filtra per Categoria
        </button>

        <div class="category-checkbox-container">
          <div class="form-check" th:each="category : ${categories}">
            <input
              class="form-check-input"
              type="checkbox"
              name="id"
              th:id="${category.id}"
              th:value="${category.id}"
            />
            <label
              class="form-check-label"
              th:for="${category.id}"
              th:text="${category.name}"
            ></label>
          </div>
        </div>
      </form>

      <!-- Game List -->
      <hr />
      <p>Risultati trovati: [[${games.size()}]]</p>
      <div class="row gy-4">
        <th:block th:each="game : ${games}">
          <div
            class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center"
          >
            <div th:replace="~{fragments/card :: card(game=${game})}"></div>
          </div>
        </th:block>
      </div>
    </div>

    <!-- MODALI DELETION FUORI DALLE CARD -->
    <th:block th:each="game : ${games}">
      <div
        class="modal fade"
        th:id="'delete-modal-' + ${game.id}"
        tabindex="-1"
        aria-labelledby="deleteModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content custom-modal-dark">
            <div class="modal-header border-0">
              <h5 class="modal-title text-lime" id="deleteModalLabel">
                Conferma Eliminazione
              </h5>
              <button
                type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body text-white">
              Sei sicuro di voler eliminare il gioco:
              <strong th:text="${game.title}"></strong>?
            </div>
            <div class="modal-footer border-0">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Annulla
              </button>
              <form
                th:action="@{/games/delete/{id}(id = ${game.id})}"
                method="post"
              >
                <button type="submit" class="btn btn-lime">Conferma</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </th:block>

    <div th:replace="~{fragments/resources :: scripts}"></div>
  </body>
</html>
